.product {
    border-radius: 1rem;
    width: 20rem;
    height: 16rem;
}

.rupee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.name {
    text-align: center;
    padding-top: 1rem;
}

.add_to_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.3rem solid #fe9118;
    background-color: #fe9118;
    cursor: pointer;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.round {
    background-color: #f7f7f7;
    border: 1rem solid white;
    border-radius: 2rem;
}

.plus {
    margin-right: .8rem;
}

.price_d {
    font-weight: bold;
}

.mainDch{
    display: flex;
    justify-content: center;
}