.heading {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 2rem;
    padding-bottom: .7rem;
    margin-bottom: .7rem;
    border-bottom: .2rem solid #f7f7f7;
}

.imgg {
    margin-right: 1rem;
}

.item_list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3rem;
}

.mainDiv {
    width: 50%;
}

.img {
    width: 11rem;
    border-radius: 1rem;
}

.item_name {
    flex: 1;
    margin-left: 2rem;
}

.price {
    font-weight: bold;
}

.quantity {
    flex: 1;
}

.centerP {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.border_b {
    border-bottom: .2rem solid #f7f7f7;
}

.order_total {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 1.5rem;
}

.span_text {
    font-weight: bold;
    font: large;
    font-size: large;
}

.item_total {
    color: #fe9118;
    font-weight: 900;
    font-size: x-large;
}

.input {
    margin-top: 5rem;
    border: .1rem solid #fe9118;
    border-radius: .6rem;
    margin-top: .4rem;
    padding: .2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.input2 {
    /* width: 50%; */
    margin-top: 1rem;
    border: .1rem solid #fe9118;
    border-radius: .6rem;
    margin-top: .8rem;
    /* padding: .2rem; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* margin-left: 5rem; */
}

.form {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.btn {

    background-color: #fe9118;
    margin-top: 1rem;
    border: none;
    padding: 0.2rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    /* width: 25%; */
    font-weight: bold;
    cursor: pointer;
}

.btn_optional {

    background-color: #fe9118;
    text-decoration: none;
    margin-top: 1rem;
    border: none;
    padding: 0.2rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.2 1rem;
    width: 25%;
    color: black;
    font-weight: bold;
    /* display: flex; */
    justify-content: end;
}